The data for this analysis collected on October 2nd, 2022 at 6.p.m Vancouver time.

This notebook, is the second stage of social media analysis for tweets related to Mahsa Amini which is one of the greates trends in twitter.
In this stage, we want to do the followings:
* find the ten most popular words with and without stopwords
* find the ten most popular hashtags
* find the ten most frequently mentioned usernames
* find the 3 most common source of tweets
* create a line to show the time trend of tweet counts
* find the three most influential tweets
* find the most vocal authors on the keyword
* find the 3 most influential authors

You may remember that from the former stage, we gathered 10,000 tweets and saved it in a json file. Now, for doing our analysis, we need to read that file to be able to read our analysis.
So we need to import json and we also import pprint for better showing the files we would read.

In [22]:
import json
import pprint

Next, we want to open the file that we have created. So, we would go for such a code, we will open the file and load the data. But the problem is that codes are not in this folder, so, we need to change our direction to the folder we had formerly. 
Pay attention to use this directories based on your machine.
So, firstly we have:

In [23]:
import os #package for changing directories
os.getcwd()

'/Users/darianghorbanian/Dropbox/MBAN/P1/BAIT 508 - Business Aanlytics Programming/Final Project/02-Author Data Collection'

In [24]:
os.chdir('/Users/darianghorbanian/Dropbox/MBAN/P1/BAIT 508 - Business Aanlytics Programming/Final Project/01-Collecting Data')

In [25]:
with open('recent_post_"climate change" -is-retweet lang-en_10000.json') as json_file:
    json_cc_data=json.load(json_file)

In [26]:
print(type(json_cc_data))
json_cc_data.keys()

<class 'dict'>

dict_keys(['collection_type', 'collection_timestamp', 'query', 'tweet_cnt', 'tweets'])

We would again change the directory to our folder:

In [27]:
os.chdir('/Users/darianghorbanian/Dropbox/MBAN/P1/BAIT 508 - Business Aanlytics Programming/Final Project/02-Author Data Collection')

collecting author's data:

In [28]:
json_cc_data['tweets'][0].keys()

dict_keys(['source', 'entities', 'created_at', 'lang', 'text', 'context_annotations', 'edit_history_tweet_ids', 'possibly_sensitive', 'in_reply_to_user_id', 'public_metrics', 'id', 'referenced_tweets', 'author_id'])

In [29]:
auth_id=[]
for tweet in json_cc_data['tweets']:
        if tweet['author_id'] not in auth_id:
            auth_id.append(tweet['author_id'])

In [30]:
l=len(auth_id)
l

8277

In [52]:
import tweepy
from TwitterCollector import TwitterCollector
#bearer_token= r"AAAAAAAAAAAAAAAAAAAAAN7xhgEAAAAA5mDxdSxnPsiFrmzQ4R2Fvet71Qs%3DeAlmpOrJCjfAhrqhwnnbuZytWstuT1qdXZFLwPE6OZTo6ka2A6"
bearer_token= r"AAAAAAAAAAAAAAAAAAAAAH18hQEAAAAAj%2FpytngG8GtAdqgGF21LqdUiUZI%3Dw56eJ1vaXlxAAwV7mdxeAEcGabdLAph24gsEBH0zpociZfkkRB"
#initialize it:
tc= TwitterCollector(bearer_token=bearer_token)

In [37]:
author=[]

In [38]:
import pandas as pd
#author_df=pd.read_csv('Author_info.csv')
#for i in range(0,20):
#    author.append(tc.fetch_author_info(auth_id[i]))

In [68]:
#len(author)
author=[]
ll=3005
print(len(author))
print(ll+len(author))

0
3005

In [69]:
if len(author)+ll+300 <= 5000: #len(auth_id):
    l=len(author)+ll+300
else:
    l=5000

for i in range(ll+len(author),ll+len(author)+50):
    try:
        author.append(tc.fetch_author_info(auth_id[i]))
    except AttributeError:
        print(str(i) + ' author does not exist anymore')

3022 author does not exist anymore

In [60]:
print(i)

3022

In [50]:
if len(author)+ll+300 <= 5000: #len(auth_id):
    l=len(author)+ll+300
else:
    l=5000
try:
    for i in range(ll+len(author),l):
        author.append(tc.fetch_author_info(auth_id[i]))
except:
    print(i)
    i=i+1

3022

In [47]:
print(i)
print(len(author))

3023
17

At this stage, we have all the data gathered from former stage at json_ma_data and we are ready for analysis

In [241]:
print(len(author))
print(type(author))

1994
<class 'list'>

In [242]:
author[1]

{'name': 'Kristoffer Tigue',
 'public_metrics': {'followers_count': 948,
  'following_count': 1195,
  'tweet_count': 1478,
  'listed_count': 47},
 'verified': False,
 'location': 'New York, NY',
 'username': 'krtigue',
 'description': "Environmental justice reporter for @insideclimate. I write the Today's Climate newsletter. Sign up below.",
 'created_at': '2012-05-07T20:26:18.000Z',
 'id': '573942340'}

In [243]:
author[1]['public_metrics']['followers_count']

948

In [244]:
a_id=[]
name=[]
username=[]
location=[]
created_at=[]
description=[]
followers_count=[]
following_count=[]
tweet_count=[]
listed_count=[]
verified=[]
description=[]


for a in author:
    a_id.append(a['id'])
    name.append(a['name'])
    username.append(a['username'])
    if 'location' not in a:
        location.append('')
    else:
        location.append(a['location'])
    created_at.append(a['created_at'])
    description.append(a['description'])
    followers_count.append(a['public_metrics']['followers_count'])
    following_count.append(a['public_metrics']['following_count'])
    tweet_count.append(a['public_metrics']['tweet_count'])
    listed_count.append(a['public_metrics']['listed_count'])
    verified.append(a['verified'])

In [245]:
import pandas as pd
author_df=pd.DataFrame({'author_id':a_id,'name':name,'username':username,'location':location,
                       'created_at':created_at,'description':description,'followers_count':followers_count,
                       'following_count':following_count,'tweet_count':tweet_count,'listed_count':listed_count,
                      'verified':verified,'description':description})

In [246]:
author_df

,author_id,name,username,location,created_at,description,followers_count,following_count,tweet_count,listed_count,verified
0,824678718165577730,JC Cooperüá∫üá¶üá≥üáøüá≠üá≤,CoopwrJ,"Hillsborough, Auckland",2017-01-26T18:01:43.000Z,Materials and Transition Engineer but original...,901,750,24084,17,False
1,573942340,Kristoffer Tigue,krtigue,"New York, NY",2012-05-07T20:26:18.000Z,Environmental justice reporter for @insideclim...,948,1195,1478,47,False
2,828133781240320000,Ida Collado,IdaColl_11,"Puyallup, WA",2017-02-05T06:50:54.000Z,"Proud wife of 33 yrs service US Army, voluntee...",1840,3087,36158,3,False
3,2530246140,Uthred Ragnarson,ChiefFrenchie,"Minnesota, USA",2014-05-28T15:28:17.000Z,Love the outdoors. Love the Minnesota Vikings...,291,515,6518,0,False
4,1105207664479371266,Nick,Nick25949264,,2019-03-11T20:43:35.000Z,,23,117,11929,0,False
...,...,...,...,...,...,...,...,...,...,...,...
1989,376140762,Ecotherapy in Exeter,dradrianharris,"Exeter, England",2011-09-19T11:21:55.000Z,"Counsellor, Psychotherapist, psychedelic facil...",321,424,815,5,False
1990,451508512,Joey Freshwater,LetsGoBr0ndan,"Nashville, TN",2011-12-31T15:14:34.000Z,Conservative 2A Trump Vols Titans Split time b...,481,1223,7606,4,False
1991,935558327987081216,Jackson Green,Oldestgreenjack,New York City,2017-11-28T17:17:42.000Z,"I am behaviorally, socially, professionally, a...",20,204,732,0,False
1992,855377116782886912,BLAM UK,BLAMCharity,"London, England",2017-04-21T11:06:11.000Z,Black | Learning | Achievement | Mental Health...,4350,1112,4018,26,False
1993,61104689,‚òÆÔ∏è üåøLaurel LeavesüçÉüá∫üá¶I Stand WithUkraineüåª,KaooavopaKatapa,,2009-07-29T03:47:28.000Z,#ExpandSCOTUS #FBR #BetoForGovernor \n\nI bloc...,8151,6431,139943,12,False

In [249]:
author_df.to_csv('Author_Info3006-5000.csv')