In [76]:
import pandas as pd
import glob
import os

In [77]:
files=os.path.join("Author*.csv")

In [78]:
file=glob.glob(files)
file

['Author_Info5000-5299.csv',
 'Author_Info.csv',
 'Author_Info3006-5000.csv',
 'Author_Info-0-3005.csv',
 'Author_Info5300-8872.csv']

In [79]:
#pd.concat(map(pd.read_csv, files), ignore_index=True)

In [85]:
df_append=pd.DataFrame()

https://medium.com/@stella96joshua/how-to-combine-multiple-csv-files-using-python-for-your-analysis-a88017c6ff9e

In [86]:
#for f in files:
 #   df_temp=pd.read_csv(f)
  #  df_append=df_append.append(df_temp,ignore_index=True)

In [87]:
df1=pd.read_csv('Author_Info-0-3005.csv')
df2=pd.read_csv('Author_Info3006-5000.csv')
df3=pd.read_csv('Author_Info5000-5299.csv')
df4=pd.read_csv('Author_Info5300-8872.csv')

In [88]:
df_append=df_append.append(df1,ignore_index=True)
df_append=df_append.append(df2,ignore_index=True)
df_append=df_append.append(df3,ignore_index=True)
df_append=df_append.append(df4,ignore_index=True)

/var/folders/4q/wcwxv26n0fbby_yfjrgjbjp80000gn/T/ipykernel_55733/3792751622.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append=df_append.append(df1,ignore_index=True)
/var/folders/4q/wcwxv26n0fbby_yfjrgjbjp80000gn/T/ipykernel_55733/3792751622.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append=df_append.append(df2,ignore_index=True)
/var/folders/4q/wcwxv26n0fbby_yfjrgjbjp80000gn/T/ipykernel_55733/3792751622.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append=df_append.append(df3,ignore_index=True)
/var/folders/4q/wcwxv26n0fbby_yfjrgjbjp80000gn/T/ipykernel_55733/3792751622.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append=df_append.append(df4,ignore_index=True)

In [89]:
df_append

,Unnamed: 0,author_id,name,username,location,created_at,description,followers_count,following_count,tweet_count,listed_count,verified
0,0,1560493245410357248,chargersfann1978,chargersfann194,NaN,2022-08-19T05:06:11.000Z,NaN,49,414,3447,0,False
1,1,4783834469,Y Not Recyclable,RecyclableYnot,"London, England",2016-01-12T11:49:33.000Z,Planet Earth cannot afford much more pollution...,587,619,3481,6,False
2,2,5880462,Adam Conover,adamconover,"Los Angeles, CA",2007-05-09T00:04:45.000Z,Standup comic and television host. Creator & h...,220989,2046,9122,863,True
3,3,831277785960181764,Renae Lattin,Rdl8192Boyz,NaN,2017-02-13T23:04:03.000Z,MT born & raised. Independant thinker who love...,116,261,4993,0,False
4,4,2216079799,Cassandra Pronouns,Indiecornwall,Behind you,2013-11-26T17:24:23.000Z,Delivering true bad future predictions that no...,1197,4084,48188,9,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8272,2972,3372025906,üèÄüèÜCoach Butler,s_butler2015,"Johannesburg, South Africa",2015-07-12T08:24:02.000Z,üá∫üá∏üáøüá¶ Involved in ALL Things BasketballüíúüèÄüíõ\n\nH...,2582,3516,10812,3,False
8273,2973,2902775914,Liz Wills,mslizwills,United Kingdom,2014-12-02T19:30:50.000Z,Feminism. Nature. Truth and beauty. Lefty. Fal...,631,1089,3182,3,False
8274,2974,938489490942939138,üèî Misty Mountain Enjoyer üèî,FeastOnHisFlesh,Valhalla,2017-12-06T19:25:05.000Z,Mountain supremacy,151,703,2137,6,False
8275,2975,614299748,·ªåya (formerly Duke of Edinburgh Fan) üá∫üá≥,fanofprincephil,NaN,2012-06-21T13:06:54.000Z,Liberal. Was a royalist till 18 Jan. 2020. May...,2072,2247,99686,6,False
8276,2976,1105356255437172737,Man-of-the-Moment,orukaivan7,Uganda,2019-03-12T06:34:02.000Z,Agriculturalist| Researcher| Msc. Candidate - ...,15165,12387,69639,2,False

https://www.educative.io/answers/how-to-delete-a-column-in-pandas

In [ ]:
del df_append['Unnamed: 0']

In [91]:
df_append

,author_id,name,username,location,created_at,description,followers_count,following_count,tweet_count,listed_count,verified
0,1560493245410357248,chargersfann1978,chargersfann194,NaN,2022-08-19T05:06:11.000Z,NaN,49,414,3447,0,False
1,4783834469,Y Not Recyclable,RecyclableYnot,"London, England",2016-01-12T11:49:33.000Z,Planet Earth cannot afford much more pollution...,587,619,3481,6,False
2,5880462,Adam Conover,adamconover,"Los Angeles, CA",2007-05-09T00:04:45.000Z,Standup comic and television host. Creator & h...,220989,2046,9122,863,True
3,831277785960181764,Renae Lattin,Rdl8192Boyz,NaN,2017-02-13T23:04:03.000Z,MT born & raised. Independant thinker who love...,116,261,4993,0,False
4,2216079799,Cassandra Pronouns,Indiecornwall,Behind you,2013-11-26T17:24:23.000Z,Delivering true bad future predictions that no...,1197,4084,48188,9,False
...,...,...,...,...,...,...,...,...,...,...,...
8272,3372025906,üèÄüèÜCoach Butler,s_butler2015,"Johannesburg, South Africa",2015-07-12T08:24:02.000Z,üá∫üá∏üáøüá¶ Involved in ALL Things BasketballüíúüèÄüíõ\n\nH...,2582,3516,10812,3,False
8273,2902775914,Liz Wills,mslizwills,United Kingdom,2014-12-02T19:30:50.000Z,Feminism. Nature. Truth and beauty. Lefty. Fal...,631,1089,3182,3,False
8274,938489490942939138,üèî Misty Mountain Enjoyer üèî,FeastOnHisFlesh,Valhalla,2017-12-06T19:25:05.000Z,Mountain supremacy,151,703,2137,6,False
8275,614299748,·ªåya (formerly Duke of Edinburgh Fan) üá∫üá≥,fanofprincephil,NaN,2012-06-21T13:06:54.000Z,Liberal. Was a royalist till 18 Jan. 2020. May...,2072,2247,99686,6,False
8276,1105356255437172737,Man-of-the-Moment,orukaivan7,Uganda,2019-03-12T06:34:02.000Z,Agriculturalist| Researcher| Msc. Candidate - ...,15165,12387,69639,2,False

Removing Duplicates:

In [111]:
df_append=df_append.drop_duplicates('author_id')

In [112]:
df_append.to_csv('Author_Info.csv')

In [113]:
len(df_append)

8258

In [114]:
df_append

,author_id,name,username,location,created_at,description,followers_count,following_count,tweet_count,listed_count,verified
0,1560493245410357248,chargersfann1978,chargersfann194,NaN,2022-08-19T05:06:11.000Z,NaN,49,414,3447,0,False
1,4783834469,Y Not Recyclable,RecyclableYnot,"London, England",2016-01-12T11:49:33.000Z,Planet Earth cannot afford much more pollution...,587,619,3481,6,False
2,5880462,Adam Conover,adamconover,"Los Angeles, CA",2007-05-09T00:04:45.000Z,Standup comic and television host. Creator & h...,220989,2046,9122,863,True
3,831277785960181764,Renae Lattin,Rdl8192Boyz,NaN,2017-02-13T23:04:03.000Z,MT born & raised. Independant thinker who love...,116,261,4993,0,False
4,2216079799,Cassandra Pronouns,Indiecornwall,Behind you,2013-11-26T17:24:23.000Z,Delivering true bad future predictions that no...,1197,4084,48188,9,False
...,...,...,...,...,...,...,...,...,...,...,...
8272,3372025906,üèÄüèÜCoach Butler,s_butler2015,"Johannesburg, South Africa",2015-07-12T08:24:02.000Z,üá∫üá∏üáøüá¶ Involved in ALL Things BasketballüíúüèÄüíõ\n\nH...,2582,3516,10812,3,False
8273,2902775914,Liz Wills,mslizwills,United Kingdom,2014-12-02T19:30:50.000Z,Feminism. Nature. Truth and beauty. Lefty. Fal...,631,1089,3182,3,False
8274,938489490942939138,üèî Misty Mountain Enjoyer üèî,FeastOnHisFlesh,Valhalla,2017-12-06T19:25:05.000Z,Mountain supremacy,151,703,2137,6,False
8275,614299748,·ªåya (formerly Duke of Edinburgh Fan) üá∫üá≥,fanofprincephil,NaN,2012-06-21T13:06:54.000Z,Liberal. Was a royalist till 18 Jan. 2020. May...,2072,2247,99686,6,False
8276,1105356255437172737,Man-of-the-Moment,orukaivan7,Uganda,2019-03-12T06:34:02.000Z,Agriculturalist| Researcher| Msc. Candidate - ...,15165,12387,69639,2,False